body{
    background-color: #85DCBA; 
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

div{
    padding:10px;
    color-scheme: rgba(255, 166, 0, 0.949);
}

h1{
    font-size:100px;
    padding: 0px;
    color:#E8A87C;
    padding-bottom: 0px;
    margin-bottom: 0px;
    
}

h2{
    padding-top:0px;
    font-size: 50px;
    color: white;
    margin-top:0px
}
ul{
    padding: 0px;
}
li{
    list-style-type: none;
    padding:  10px;
    font-size: 20px;
}

button{
    background-color: #E8A87C;
    border: none;
    padding: 20px 40px;
    text-decoration: none;
}

.xp{
    color: #e27d60;
    font-weight: bold;
    font-size: 50px;
    padding: 30px;
}

.desc{
    font-size:20px;
    color: black;
}

